<div class="dashboard-container">
  <div class="logo-container">
    <img src="/logo.png" alt="Logo Tai Loy" />
  </div>

  <h1>Bienvenido al Sistema de Gestión de Inventario de Tai Loy</h1>

  <div class="dashboard-grid">
    <button routerLink="/components/producto" class="dashboard-button">
      <div class="icon">📦</div>
      <div class="label">Gestión de Productos</div>
    </button>

    <button routerLink="/components/categoria" class="dashboard-button">
      <div class="icon"></div>
      <div class="label">Gestión de Categorías</div>
    </button>

    <button routerLink="/components/subcategoria" class="dashboard-button">
      <div class="icon"></div>
      <div class="label">Gestión de Subcateogrías</div>
    </button>

    <button routerLink="/inventory/proceso-compras" class="dashboard-button">
      <div class="icon">🛒</div>
      <div class="label">Proceso de Compras</div>
    </button>

    <button routerLink="/inventory/procesar-ventas" class="dashboard-button">
      <div class="icon">💰</div>
      <div class="label">Procesar Ventas</div>
    </button>

    <button routerLink="/inventory/proveedores" class="dashboard-button">
      <div class="icon">🏢</div>
      <div class="label">Proveedores</div>
    </button>

    <button routerLink="/inventory/usuarios" class="dashboard-button">
      <div class="icon">👥</div>
      <div class="label">Usuarios y Cargos</div>
    </button>

    <button routerLink="/inventory/reportes" class="dashboard-button">
      <div class="icon">📊</div>
      <div class="label">Reportes</div>
    </button>
  </div>
</div>

<div class="footer">
  <p>&copy; 2025 Tai Loy S.A. Todos los derechos reservados.</p>
</div>
